* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 210, 210);
    font-family: 'Average Sans', sans-serif;
}

main {
    width: 820px;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
}

ul {
    margin-top: 32px;
}


ul > li > a {
    font-size: 24px;
    line-height: 1.5;
}

img {
    margin: 12px 0;
    max-width: 100%;
    height: auto;
}

header {
    background-color: rgb(189, 189, 189);
    padding: 16px 0;

}

header h1 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2px;
}